.gallery{
    list-style-type: none;
    display:flex;
    flex-wrap: wrap;
    gap: 24px;
    align-items:center;
justify-content:center;
}

.gallery-item {

}
.gallery-link {
    
}

.gallery-image {
    width: 360px;
    height: 200px;
}